@{
    ViewData["Title"] = "Unsubscribe Confirmed";
    Layout = "_UnauthenticatedLayout";
}

<div class="text-center mb-3">
    <h1 class="display-4">Unsubscription confirmed</h1>
    <p class="fst-italic fs-6">You shall no longer receive emails from us, we are sorry to see you go.</p>
    <p class="fst-italic fs-6">Please contact us to renable notifications if you wish to.</p>
</div>