@{
    ViewData["Title"] = "Unsubscribe Requested";
    Layout = "_UnauthenticatedLayout";
}

<div class="text-center mb-3">
    <h1 class="display-4">Unsubscription requested</h1>
    <p class="fst-italic fs-6">Please check your email, if the requested email is valid you will have received an email with an unsubscription link.</p>
</div>