@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fortnite Notifier Admin</h1>
</div>


<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Welcome to the Fortnite Notifier Admin page.
        </p>
        <p>
            This page is used to manage the Fortnite Notifier service.
        </p>
        <p>
            Please select an option from the menu above to perform administrative actions
        </p>
    </div>
</div>