@model LogsViewModel
@{
    ViewData["Title"] = "Logs";
}


<div class="text-center mb-3">
    <h1 class="display-4">Logs</h1>
    <p class="fst-italic fs-6">Latest 10 files are shown, click <a asp-action="index" asp-route-loadAll="true">here</a> to load all files</p>
</div>

<div class="row mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>File</th>
                <th>Size</th>
                <th>Last Write Time</th>
                <th>Download</th>
            </tr>
            @foreach (LogFileViewModel logFile in Model.LogFiles)
            {
                <tr>
                    <td>@logFile.Name</td>
                    <td>@logFile.SizeKB KB</td>
                    <td>@logFile.LastWriteTime</td>
                    <td>
                        <form asp-action="DownloadLog">
                            <button type="submit" class="btn btn-light">Download</button>
                            <input type="hidden" name="logFileName" asp-for="@logFile.Name" />
                        </form>
                    </td>
                </tr>
            }
        </thead>
    </table>
</div>